<app-top-bar></app-top-bar>
<mat-tab-group >
  <mat-tab label="ShoppingBag"> <app-shopping-bag></app-shopping-bag> </mat-tab>
  <mat-tab label="Profile"> <app-profile></app-profile> </mat-tab>
</mat-tab-group>
<div class="container">
  <router-outlet></router-outlet>
</div>
